@model IEnumerable<WebApplication.Models.DataElement>

@{
    ViewData["Title"] = "Index";
}

<h1>Список элементов</h1>
<p>
    <a asp-action="SaveNewJsonFile">Создать новый файл JSON</a>
</p>
<p>
    <a asp-action="ResaveJsonFile">Перезаписать файл JSON</a>
</p>
<p>
    <a asp-action="SaveNewDbFile">Создать файл базы данных</a>
</p>
<p>
    <hr />
</p>
<p>
    <a asp-action="Create">Создать новый елемент</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElementInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsElement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElementInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsElement)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Element">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Element">Детализировать</a> |
                <a asp-action="Delete" asp-route-id="@item.Element">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
